.button{
    font-size: 17px;
    line-height: 18px;
    padding: 12px 36px;
    border: 2px solid $black;
    border-radius: 5px;
    text-transform: none;
    transition: $transition;
    cursor: pointer;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.799);
    &:hover{
        background-color: $black;
        color: $white;
        transition: $transition;
    }
    &::after{ content: none;}
  }