slider
{
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#1f1f1f;
    overflow:hidden;
    position:absolute;
     --opacidad-negro: 0.25;

     & > *
    {
        display:block; 
        width:100%;
        height:100%;
        background-color:#1f1f1f;
        overflow:hidden;
        position:absolute;
        animation: slide 10s infinite;
    }
}


slide:nth-child(1)
{
    // left:0%;
    animation-delay:0s;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
                                    rgba(0, 0, 0, var(--opacidad-negro))),  
                                    url("/img/recursos/fondos/bg-1.JPG");
    background-size: cover;
    background-position: center;
}
slide:nth-child(2)
{
    // left:0%;
    animation-delay:2s;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)),  
                    rgba(0, 0, 0, var(--opacidad-negro))),  
                    url("/img/recursos/fondos/bg-2.JPG");
    background-size: cover;
    background-position: center;
}
slide:nth-child(3)
{
    // left:0%;
    animation-delay:4s;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)),  
                    rgba(0, 0, 0, var(--opacidad-negro))),  
                    url("/img/recursos/fondos/bg-3.JPG");
    background-size: cover;
    background-position: center;
}
slide:nth-child(4)
{
    // left:0%;
    animation-delay:6s;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)),  
                    rgba(0, 0, 0, var(--opacidad-negro))),  
                    url("/img/recursos/fondos/bg-4.JPG");
    background-size: cover;
    background-position: center;
}

slide:nth-child(5)
{
    // left:0%;
    animation-delay:8s;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)),  
                    rgba(0, 0, 0, var(--opacidad-negro))),  
                    url("/img/recursos/fondos/bg-5.JPG");
    background-size: cover;
    background-position: center;
}


slide p
{
    font-family: comfortaa;
    font-size: 45px;
    text-align: center;
    display: inline-block;
    width:100%;
    margin-top:45vh;
    font-weight: 900;
    line-height: normal;
    color: $color2;

    @media(min-width: $mq2)
    { 
        font-size: 70px; 
    }
}
@keyframes slide{
    0% { left: 100%; width: 100%;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -100%; width: 100%;}
    31% { left: -100%; width: 0%;}
    100% { left: 100%; width: 0%;}
}