@import "../../sass/variables";
@import "../../sass/global.scss";

.container2 {
  border-radius: 20px;
  box-shadow: 20;
}

.btn-1,
.btn-2 {
  border: 2px solid;
  border-radius: 7px;
  font: inherit;
  line-height: 2;
  margin: 0px;
  padding: 10px 20px;
}

.container2 {
  padding: 0px;
}

#oscuro {
  background-image: none !important;
}

label{
  background-color: #ffffff !important;
}