@import "_mixin";
.footer
{
  &-container
  {
      margin: 0 auto;
      flex-wrap: wrap;
      width: 100vw;
      @include flex(flex, flex-start, flex-start, column, wrap);
      @media(min-width: $mq1){ @include flex(flex, flex-start, flex-start, row, wrap); }
  }
  &__list
  {
      width: 100%;
      @media(min-width: $mq1)
      {
        //   width: calc( (100% / 3 - ( #{$gap-h} * 2) ) );
          width: calc(100vw/3 );
          max-width: 300px;
          margin-right: $gap-h;
          &:nth-last-of-type(1){ margin-right: 0; }
      }
  }
  &__title
  {
      display: flex;
      width: 100%;
      margin-bottom: $gap / 2;
      padding: $gap 0 ;
      font-family: 'Korpus-B', sans-serif;
      font-size: 18px;
      line-height: 30px;
      border-bottom: 1px solid $gray;
     
  }
  &__link
  {
      font-size: 15px;
      line-height: 25px;
      font-family: 'Korpus-B', sans-serif;
      text-transform: none;
      letter-spacing: normal;
      cursor: pointer;
      &::after
      { 
          content: none; 
      }
  }
  &-palette
  { 
      margin-top: $gap * 2; 
  }
}

.is-header-hidden
{
  @media(min-width: $mq2)
  {
      transform: translateY(-125px);
      transition: $transition;
  }
}
.is-logo-hidden
{
  @media(min-width: $mq2)
  {
      opacity: 0;
      transform: scale(.8);
      transition: $transition;
  }
}