
@import "_mixin";


.main{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

  
.recipe
{
    @include flex(flex, center, center, column, wrap);
    width: 100%;
    padding: $gap * 4 $gap;
    border-bottom:  1px solid $gray;

    @media(min-width: $mq1){ padding: $gap * 4 $gap-h; }
}

.news
{
    @include flex(flex, center, center, column, wrap);
        width: 100%;
        position: relative;
        padding: $gap * 4 $gap;
        background-color: $gray-b;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        width: calc(100vw - 100px);
        height: 100%;
        background-color: $gray-b;
        z-index: -1;
    }

    @media(min-width: $mq1){
        @include flex(flex, flex-start, flex-start, row, nowrap);
        padding: $gap * 4 $gap-h;
    }
    @media(min-width: $mq2){
        justify-content: center;
        padding: $gap * 6 $gap-h $gap * 4;
    }
}


.newsletter
{
    @include flex(flex, center, center, column, wrap);
    padding: $gap 0 0;
    background-color: $white;
  
    @media(min-width: $mq1){ padding: $gap-v $gap-h $gap-v * 4; }
    @media(min-width: $mq2){ @include flex(flex, flex-start, stretch, row, wrap); }
}

.footer
{
    width: 100%;
    padding: $gap * 3 $gap $gap * 4;
    background-color: $gray-b;
  
    @media(min-width: $mq1){ @include flex(flex, flex-start, flex-start, row, wrap); }
    @media(min-width: $mq2){ padding: $gap-v $gap-h; }
}
  // *****
.icon
{
    object-fit: contain;
    width: 30px;
    &-n{
        width: 130px;
        margin-bottom: $gap;
    }
}
  
.palette
{
    display: flex;
    justify-content: space-between;
    width: 24px;
    &__color
    {
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }
    /****************/
    &-container{ @include flex(flex, center, center, row, wrap); }
  
    &-item
    {
        @include flex(flex, center, center, row, wrap);
        margin: 3px;
        padding: 4px 10px;
        border-radius: 2px;
        border: 1px solid $gray;
        &:hover
        {
            border: 1px solid $black;
            transition: $transition;
            cursor: pointer;
        }
        &__bg
        {
            display: flex;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $green;
            margin-right: 10px;
        }
        &__name
        {
            font-family: 'Korpus-B', sans-serif;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }
    }
}

.recipe
{
    text-align: center;
    background-color: $white;

    &__parrafo
    {   font-size: 18px;
        span
        {
            font-weight: 900;
            color: $color3;
        }
    }

    &__title
    {
       
        width: auto;
        margin-bottom: $gap;
        @media(min-width: $mq1)
        {
            font-size: 40px;
            line-height: 42px;
        }
    }

    &-list
    {
        display: flex;
        width: 100%;
        margin: $gap * 2 0;
        overflow: hidden;
    }
    &-scroll
    {
        display: flex;
        overflow-x: scroll;
        @media(min-width: $mq2){ overflow: hidden; }
    }
    &-item
    {
        @include flex(flex, flex-start, flex-start, column, wrap);
        max-width: 65vw;
        margin-right: $gap * 2;
        flex-shrink: 0;
        @media(min-width: $mq1){ max-width: 50%; }
        @media(min-width: $mq2){ max-width: calc(25% - 30px ); }
        &__bg
        {
            overflow: hidden;
            transition: .15s;
            cursor: pointer;
            &:hover .recipe-item__img{
                transform: scale(1.025);
                transition: $transition;
            }
        }
        &__img
        {
            object-fit: cover;
            max-width: 100%;
            height: 480px;
            width: 400px;
           
        }
        &__name
        {
            
            font-size: 22px;
            line-height: 26px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
  


  
  
.news{
    &__item{
        @include flex(flex, center, center, column, wrap);
        margin-bottom: $gap * 4;
        &:nth-last-of-type(1){ margin-bottom: 0; }
        @media(min-width: $mq1){
            &:nth-of-type(1){ margin-right: $gap-h / 2; }
            &:nth-of-type(2){ margin-left: $gap-h / 2; }
        }
        @media(min-width: $mq2){ width: 28%; }
    }
  
    &__date{
        margin: $gap * 3 0 $gap ;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    &__title{
        font-family: "Canela", Times, serif;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        @media(min-width: $mq2){
            font-size: 40px;
            line-height: 42px;
        }
    }
    &__description{
        margin: $gap / 2 0 $gap * 2;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
  }
  .newsletter{
  
    &__item,
    &__form{
        @include flex(flex, center, center, column, wrap);
        padding: $gap * 3 $gap;
        width: 100%;
        @media(min-width: $mq2){
            width: 50%;;
            &--100{ width: 100%; }
        }
    }
    &__form{
        background-color: $gray;
        padding: inherit 0;
    }
    &__item:nth-last-of-type(1){ background-color: $green; }
  
    &__input,
    &__button{
        width: 100%;
        height: 50px;
        padding: 0 $gap;
        margin: 10px 0;
        font-size: 16px;
        border: 1px solid $black;
        outline: none;
        background-color: transparent;
    }
    &__button{ width: auto; }
    &__input{
        border: none;
        text-align: center;
        letter-spacing: 1.2px;
        font-size: 24px;
    }
    &__description{
        font-size: 20px;
        line-height: 30px;
        font-family: "Canela", Times, serif;
        text-align: center;
        margin-bottom: $gap;
        @media(min-width: $mq2){ width: 70%; }
    }
  }
  
 
  