@font-face 
{
    font-family: 'Abril';
    src: url('fuentes/Abril_Fatface/AbrilFatface-Regular.ttf');
}

@font-face 
{
    font-family: 'DM-italic';
    src: url('fuentes/Roboto/Roboto-Italic.ttf');
}

@font-face 
{
    font-family: 'DM-regular';
    src: url('fuentes/Roboto/Roboto-Medium.ttf');
}

/*------------ fuentes ------------*/
$Abril: 'Abril', sans-serif;
$DM-i: 'DM-italic', sans-serif;
$DM-r: 'DM-regular', sans-serif;



$color-1 : #191919;
$color-2 : #fafafa;
$color-3 : #330867 ;