img {
  width: 100%;
}

.css-i3a0ch-MuiStepLabel-labelContainer {
  color: #191919 !important;
}
.css-1ajy9q0-MuiStepLabel-label.Mui-active {
  color: #000 !important;
}

.container2 {
  padding: 40px !important;
  border-radius: 20px;

  h2 {
    font-size: 28px !important;
    color: #191919 !important;
  }
}

.css-1qrpm5d-MuiButtonBase-root-MuiButton-root,
.css-1fwai40-MuiButtonBase-root-MuiButton-root {
  color: #191919 !important;
}

.css-1ld3b9g-MuiGrid-root > .MuiGrid-item {
  display: flex;
}

a {
  text-decoration: none;
}

.btn-1,
.btn-2 {
  border: 2px solid;
  border-radius: 7px;
  font: inherit;
  line-height: 2;
  width: 100%;
  margin: 0px;
  padding: 0 !important;
}
