#standard-basic
{
    width: 200%;
}

.contact-content__input
{
    
    display: grid;
    .contact-input
     {
             label
             {
              
                font-size: 30px;
             
            }
            input
            {
                font-size: 30px;
            }
     }
    
}