@mixin desktop{
    @media(min-width: 992px){
        @content;
    }
}

@mixin flex($display, $justify, $align, $direction, $wrap) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    }